.logo {
    display: flex;
    padding-top: 10px;
    gap: 30px;
}
  
.logo a {
    font-size: 0;
    display: flex;
}
  
.priority {
    width: 175px;
}
  
.pgups {
    width: 40px;
}

.dd {
  width: 47px;
}